@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root { --background: #0B0E13; --foreground: #F1F5F9; }
  .light { --background: #F8FAFC; --foreground: #0F172A; }
  body { @apply bg-obsidian text-slate-50 font-sans; }
}
